TELEGRAM_BOT_TOKEN=8056549272:AAGQ0N95Sf5vaOCay5rpW0zeogaoa3LPWjw
TELEGRAM_CHAT_ID=8445124882
POWERCAST_BASE_URL=http://192.168.1.32:61209/api
SLOW_THRESHOLD_MS=2000
SERVICES_CONFIG_PATH=config/services.json
PORT=4000

RABBITMQ_URL=amqp://narada:narada123@192.168.1.32:5672
RABBITMQ_EXCHANGE=narada.events
RABBITMQ_QUEUE=narada.events.process