TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
POWERCAST_BASE_URL=
SLOW_THRESHOLD_MS=2000
SERVICES_CONFIG_PATH=
PORT=4000

RABBITMQ_URL=
RABBITMQ_EXCHANGE=narada.events
RABBITMQ_QUEUE=narada.events.process

DATABASE_URL_DEV=
DATABASE_URL=
DOCKER_SOURCE_ENABLED=
